@import 'defaults.css';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: Helvetica;
    font-size:13px;
    background-color:#edeef0;
    margin:0;
    padding-bottom:50px;
    background-image: url(../images/capa-login.jpg);
    background-position: top;
    background-size: cover;
}
.container {
    max-width:1040px;
    margin:auto;
}

a:-webkit-any-link {
    text-decoration: none;
}

.container .logo-h1{
    color: #fff;
    font-size:40px;
    font-family:initial;
}
header {
    height:45px;
    box-shadow: 0px 0px 4px #333;
    position:relative;
    z-index:99;
    background-color: rgba(0,0,0,0.3);
}
header .container {
    display:flex;
    height:inherit;
    justify-content: center;
    align-items: center;
    border: 0;
    
}
header img {
    height:20px;
}
header a {
    display: flex;
}

form {
    max-width:450px;
    margin: auto;
    background-color:rgba(17, 12, 12, 0.6);
    border:1px solid #c9cacc;
    border-radius:5px;
    padding:35px;
    margin-top:90px;
}

form input::placeholder{
    font-size: 15px;
    font-weight: 700;
    font-family: cursive;
    color:rgb(54, 54, 54);
}

form input::placeholder :hover {
    color: #fff;
}

form.cadastrar{
    max-width:600px;
    margin: auto;
    background-color: rgba(2, 78, 92,0.1);
    border:0px solid #028f0e;
    border-radius:5px;
    padding:35px;
    margin-top:58px;
}
form label {
    display: block;
}
form input {
    display: block;
}
form .input {
    font-size:15px;
    height:40px;
    width: 100%;
    outline: 0;
    border:0;
    background-color:rgba(182, 182, 182, 0.6);
    border-radius:10px;
    padding:15px;
    margin-bottom:13px;
}

form .input:hover{
    background-color: rgba(17, 12, 12, 0.6);
}
form .input:focus {
    background-color:rgba(253, 255, 255, 0.5);
}
form .button {
    border:0;
    padding:10px 20px;
    background-color:rgb(221, 221, 221);
    border-radius:10px;
    color:#000;
    font-size:15px;
    margin: auto;
    margin-bottom:10px;
    cursor:pointer;
    box-shadow:0px 0px 3px #999;
}
form .button:hover {
    width: 50%;
    background-color:rgba(0, 6, 1,0.7);
    color:white;
}
form a {
    font-size: 15px;
    text-decoration:none;
    color:white;
    padding:2px;
    margin-bottom: 20px;
    margin-left: 70px;
}

form a.cadas {
    font-size: 15px;
    text-decoration:none;
    padding:2px;
    color:white;
    margin-bottom:10px;
    margin-left: 170px;
}

form a:hover{
    color: #fff;
    background-color:rgba(0, 6, 1,0.7);
    border-radius:10px;
}